@charset "UTF-8";
* {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}

.banner {
  background: url(../media/header/header_banner_pict.png) 50% 100%/cover no-repeat;
  padding: 0 0 140px;
}

.header {
  padding: 19px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.header__logo {
  max-width: 174.22px;
  height: 60px;
  align-items: center;
  display: flex;
}
.nav {
  position: relative;
  display: flex;
  align-items: center;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 22px;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
.nav__item {
  position: relative;
}
.nav__link {
  display: block;
  padding: 5px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  z-index: 0;
}
.nav__link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -13px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s;
}
.nav__link:hover::before {
  opacity: 1;
}
.nav__burger {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  display: flex;
  opacity: 0;
  visibility: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
  width: 35px;
  height: 35px;
  background: rgba(239, 232, 227, 0.4901960784);
  border-radius: 4px;
  position: relative;
  z-index: 1100;
  cursor: pointer;
}
.nav__burger-line {
  position: relative;
  width: 26px;
  height: 4px;
  background-color: #f4a26d;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
.nav__burger-line::before, .nav__burger-line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 26px;
  height: 4px;
  background-color: #f4a26d;
  border-radius: 4px;
  transition: transform 0.3s ease, top 0.3s;
}
.nav__burger-line::before {
  top: 8px;
}
.nav__burger-line::after {
  bottom: 8px;
}
.nav__burger--active .nav__burger-line {
  background-color: transparent;
}
.nav__burger--active .nav__burger-line::before {
  transform: rotate(45deg);
  top: 0;
}
.nav__burger--active .nav__burger-line::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.menu {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  background: #ffd8c0;
}
.menu--active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.menu__wrapper {
  padding: 0 80px;
}
.menu__link {
  color: rgba(69, 68, 67, 0.9019607843);
  font-family: "Gabriola";
  margin-bottom: 22px;
  text-align: center;
  display: block;
  position: relative;
  padding: 5px 0;
  z-index: 0;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.5;
}

.content {
  display: flex;
  -moz-column-gap: 137px;
       column-gap: 137px;
}
.content__block {
  position: relative;
}
.content__img--wrapper {
  position: relative;
}
.content__info {
  padding-top: 72px;
}
.content__start {
  -moz-column-gap: 10px;
       column-gap: 10px;
  display: flex;
}
.content__start-text, .content__start-data {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #b197b2;
}
.content__title {
  font-family: "Gabriola";
  font-weight: 400;
  font-size: 74px;
  color: #1f1711;
  line-height: 0.82;
  margin: 20px 0 30px;
  max-width: 519px;
}
.content__text {
  font-weight: 400;
  font-size: 16px;
  color: #312c27;
  line-height: 1.5;
  max-width: 358px;
  margin-bottom: 40px;
}
.content__button {
  color: #312c27;
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 358px;
  width: 100%;
  background: #ffa55c;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: background-color 0.5s ease;
}
.content__button:hover {
  background-color: #ff9138;
}
.content__play {
  position: absolute;
  display: flex;
  left: 100%;
  margin-left: -37px;
  bottom: 51px;
  align-items: center;
  gap: 10px;
}
.content__play-wrapper {
  border-radius: 50%;
  box-shadow: 0 4px 20px 0 rgba(184, 148, 126, 0.3);
  background: #ffe0cb;
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__play-wrapper:hover .content__play-circle {
  border: solid 1px #ffa55c;
}
.content__play-circle {
  transition: border 0.3s ease;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 0 0 0 4px;
  width: 68px;
  height: 68px;
  border-radius: 50%;
}
.content__play-text {
  max-width: 112px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
}

.learning {
  position: relative;
  display: block;
}
.learning__container {
  margin: 0 auto;
  display: flex;
  padding: 140px 0 140px;
  -moz-column-gap: 52px;
       column-gap: 52px;
}
.learning__block {
  background: url(../media/sect-learning/cook_girl.jpg) center/cover no-repeat;
  padding: 410px 274px 25px 30px;
  border-radius: 20px;
  max-width: 603px;
}
.learning__block-wrapper {
  border: none;
  display: flex;
  align-items: center;
  border-radius: 20px;
  max-width: 299px;
  width: 100%;
  -moz-column-gap: 10px;
       column-gap: 10px;
  padding: 15px 20px;
  background: rgba(149, 123, 151, 0.9);
}
.learning__block-present {
  border: none;
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background-color: #fff9f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learning__block-present:hover .learning__block-presents {
  border: 1px solid #ceaad0;
}
.learning__block-presents {
  border-radius: 50%;
  transition: border 0.3s ease;
  width: 68px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.learning__block-text {
  max-width: 171px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff9f4;
}
.learning__academy {
  max-width: 624px;
}
.learning__academy-blog {
  max-width: 624px;
}
.learning__academy-title {
  font-weight: 400;
  font-size: 74px;
  line-height: 0.82;
  font-family: "Gabriola", sans-serif;
  color: #1f1711;
}
.learning__academy-text, .learning__academy-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
  margin-bottom: 30px;
}
.learning__academy-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  background: #ffe0cb;
  border-radius: 20px;
  max-width: 296px;
  min-height: 130px;
  padding: 29px 23.5px 29px 24.5px;
}
.learning__academy-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border: 1px solid #312c27;
  border-radius: 50%;
}
.learning__academy-info {
  max-width: 173px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
}
.learning__academy-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}

.recipe {
  z-index: 1106;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(239, 188, 147, 0.7019607843);
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease;
  top: 0;
  left: 0;
}
.recipe.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.recipe__block {
  position: relative;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px 20px 60px 60px;
  max-width: 428px;
  width: 100%;
}
.recipe__cupcakes {
  top: -13%;
  left: 19%;
  position: absolute;
  width: 248px;
  height: 183px;
}
.recipe__close {
  justify-content: flex-end;
  display: flex;
}
.recipe__wrapper {
  border: 1.5px solid #e1d9e1;
  background: #ffffff;
  border-radius: 67px;
  width: 24px;
  height: 24px;
  padding: 5px 0;
  margin-bottom: 89px;
}
.recipe__img {
  background: none;
}
.recipe__title {
  font-weight: 400;
  font-size: 42px;
  font-family: "Gabriola", sans-serif;
  line-height: 0.9;
  color: #1f1711;
  max-width: 308px;
  margin-bottom: 30px;
}
.recipe__text {
  color: #312c27;
  max-width: 282px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 30px;
}
.recipe__form-field {
  position: relative;
  width: 308px;
  margin-bottom: 20px;
}
.recipe__form-field:hover .recipe__form-label {
  color: #f67f24;
}
.recipe__form-input {
  width: 100%;
  height: 62px;
  padding: 19px 28px;
  border: 1px solid #ac907a;
  border-radius: 100px;
  background: #fff;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #312c27;
}
.recipe__form-input:hover {
  border-color: #ffa55c;
}
.recipe__form-input:not(:-moz-placeholder) + .recipe__form-label {
  color: #ac907a;
  top: 12px;
  left: 22px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  padding: 0 6px;
}
.recipe__form-input:focus + .recipe__form-label, .recipe__form-input:not(:placeholder-shown) + .recipe__form-label {
  color: #ac907a;
  top: 12px;
  left: 22px;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.5;
  padding: 0 6px;
}
.recipe__form-input:focus + .recipe__form-label::after {
  content: "Введите E-mail";
}
.recipe__form-label {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ac907a;
  pointer-events: none;
  transition: all 0.2s ease;
  background-color: transparent;
}
.recipe__form-label::after {
  content: "E-mail";
}
.recipe__button {
  color: #312c27;
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 308px;
  width: 100%;
  background: #ffa55c;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: background-color 0.5s ease;
}
.recipe__button:hover {
  background-color: #ff9138;
}

.programm__title {
  font-family: "Gabriola", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 0.82;
  color: #1f1711;
  margin-bottom: 20px;
}
.programm__text {
  max-width: 365px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
}
.programm__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.programm__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 22px;
       column-gap: 22px;
  max-width: 624px;
  width: 100%;
}
.programm__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff9f4;
  border-radius: 100px;
  width: 137px;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
  transition: background 0.8s ease;
}
.programm__item--active {
  background: #ffe0cb;
  box-shadow: none;
}
.programm__item:hover {
  background: #ffe0cb;
  box-shadow: 0 4px 20px 0 rgba(206, 195, 185, 0.3);
}
.programm__item:active {
  background: #ffe0cb;
  box-shadow: none;
}
.programm__link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #312c27;
  padding: 14px;
  white-space: nowrap;
}

.accordeon {
  display: none;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.accordeon--active {
  display: flex;
}
.accordeon__wrapper {
  background: #fff9f4;
  border: 1px solid #ffa55c;
  border-radius: 20px;
}
.accordeon__button {
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 40px 30px;
  background: #fff9f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.accordeon__button-title {
  font-family: "Gabriola", sans-serif;
  font-weight: 400;
  font-size: 42px;
  line-height: 0.9;
  color: #1f1711;
  text-align: left;
}
.accordeon__button-img {
  transition: transform 0.4s ease;
  padding: 11.02px 11.23px 11.02px 11.52px;
  border-radius: 100px;
  background: #fff9f4;
  border: 1.5px solid #ffa55c;
  display: flex;
  align-items: center;
  justify-content: center;
}
.accordeon__button-img.active {
  background: #ffa55c;
}
.accordeon__button-img.active svg {
  stroke: #ffffff;
}
.accordeon__button-img svg {
  transition: transform 0.6s ease, stroke 0.5s ease;
  width: 13.25px;
  height: 13.97px;
}
.accordeon__button-img svg.rotated {
  transform: rotate(90deg);
}
.accordeon__button:hover .accordeon__button-img {
  background: #ffa55c;
}
.accordeon__button:hover .accordeon__button-img svg {
  stroke: #ffffff;
  transform: rotate(90deg);
}
.accordeon__content {
  display: flex;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
  padding: 0;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
}
.accordeon__content.open {
  padding: 0px 30px 0px 30px;
  margin-top: -20px;
  opacity: 1;
  visibility: visible;
}
.accordeon__content-theory {
  max-width: 507px;
  width: 100%;
}
.accordeon__content-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  color: #ceaad0;
  margin-bottom: 20px;
}
.accordeon__content-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.accordeon__content-stage {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.accordeon__content-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
}
.accordeon__content-tasks {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
  max-width: 231px;
}
.accordeon__content-img {
  width: 100%;
  max-width: 24px;
  height: 24px;
  border-radius: 100%;
  border: 1px solid #ceaad0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 140px;
}
.promo-block__price {
  max-width: 173px;
}
.promo-block__price-one {
  margin-bottom: 44px;
}
.promo-block__button {
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 501px;
  min-height: 62px;
  background-color: #ffa55c;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: #312c27;
  cursor: pointer;
}
.promo-block__button:hover {
  background-color: #ff9138;
}
.promo-block__wrapper {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-bottom: 40px;
}
.promo-block__stock {
  padding: 40px 81px 40px 40px;
  background: #ffe0cb;
  border-radius: 20px;
  max-width: 287px;
  min-height: 232px;
}
.promo-block__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #312c27;
}
.promo-block__text-discount {
  font-family: "Gabriola", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 0.82;
  text-align: center;
  color: #ffa55c;
  padding-left: 31px;
  margin-bottom: 7px;
  transform-origin: 0 0;
  animation: discount-grow 0.8s linear infinite alternate;
}
@keyframes discount-grow {
  0% {
    color: #ffa55c;
    transform: scale(1);
  }
  100% {
    color: #ff9138;
    transform: translateX(3%) scale(1.1);
  }
}
.promo-block__text-date {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
  padding-left: 75px;
}
.promo-block__text-tarif {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-transform: uppercase;
  color: #ceaad0;
}
.promo-block__text-cost {
  font-family: "Gabriola", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 90%;
  color: #312c27;
}
.promo-block__text-price {
  font-family: "Gabriola", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 90%;
  color: #1f1711;
}
.promo-block__cake-img img {
  width: 100%;
}

.application {
  display: none;
  background: url(../media/sect-application/fon-banner.jpg) 50% 100%/cover no-repeat;
  padding: 123px 328px 137px 313px;
}
.application__wrapper {
  max-width: 1279px;
  height: 526px;
  width: 100%;
  display: flex;
  -moz-column-gap: 84px;
       column-gap: 84px;
}
.application__cake {
  padding-top: 122px;
}
.application__img {
  overflow: hidden;
  width: 574px;
  height: 404px;
}
.application__img-cake {
  width: 574px;
  height: 404px;
  flex-shrink: 0;
}
.application__courses-title {
  color: #1f1711;
  max-width: 420px;
  width: 100%;
  font-weight: 400;
  font-size: 74px;
  line-height: 0.82;
  font-family: "Gabriola", sans-seri;
}
.application__courses-text {
  max-width: 420px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #312c27;
  margin-bottom: 40px;
}
.application__form {
  max-width: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.application__form-field {
  position: relative;
  margin-bottom: 10px;
}
.application__form-tel {
  margin-bottom: 20px;
}
.application__form-hidden {
  opacity: 0;
}
.application__form-input {
  border: 1px solid #ac907a;
  border-radius: 100px;
  padding: 19px 28px;
  height: 62px;
  max-width: 420px;
  width: 100%;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #312c27;
  background: none;
}
.application__form-label {
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #ac907a;
  pointer-events: none;
  transition: all 0.2s ease;
}
.application__form-label::after {
  content: attr(data-placeholder);
}
.application__form input[type=checkbox] {
  border: 1.5px solid #ac907a;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  color: #ac907a;
}
.application__checkbox {
  margin-bottom: 20px;
}
.application__checkbox label {
  font-weight: 400;
  font-size: 13px;
  color: #312c27;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  max-width: 267px;
  margin-bottom: 10px;
}
.application__checkbox label a {
  text-decoration: underline;
}
.application__checkbox label span {
  padding-left: 21px;
}
.application__button {
  color: #312c27;
  border-radius: 60px;
  padding: 18px 36px;
  max-width: 420px;
  width: 100%;
  background: #ffa55c;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  transition: background-color 0.5s ease;
}
.application__button:hover {
  background-color: #ff9138;
}

.footer {
  padding: 30px 0 60px;
  background-color: #ab8261;
}
.footer__info {
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 0.9fr auto;
}
.footer__logo-img {
  max-width: 241px;
}
.footer__logo-text {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #fff9f4;
  margin-bottom: 20px;
}
.footer__social {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.footer__social-link {
  transition: all 0.6s;
}
.footer__social-link:hover path {
  fill: #ff9138;
}
.footer__nav {
  padding-top: 30px;
}
.footer__nav-item {
  margin-bottom: 20px;
}
.footer__nav-link {
  z-index: 2;
  position: relative;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #fff9f4;
}
.footer__nav-link::before {
  content: "";
  position: absolute;
  top: -10px;
  left: -13px;
  width: 34px;
  height: 34px;
  background-color: #ffa55c;
  border-radius: 50%;
  z-index: -1;
  opacity: 0;
  transition: all 0.6s;
}
.footer__nav-link:hover::before {
  opacity: 1;
}
.footer__location {
  padding-top: 30px;
}
.footer__location-time {
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
  margin-bottom: 10px;
}
.footer__location-mode {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: #fff9f4;
}
.footer__location-local {
  display: flex;
  align-items: center;
  -moz-column-gap: 4px;
       column-gap: 4px;
}
.footer__location-adress {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #fff9f4;
  font-family: "Montserrat", sans-serif;
}
.footer__contact {
  padding-top: 30px;
}
.footer__contact-text {
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
  color: #fff9f4;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}
.footer__contact-phone {
  display: block;
  font-weight: 500;
  font-size: 24px;
  color: #fff9f4;
  line-height: 1.6;
  text-transform: uppercase;
  margin-bottom: 47px;
}
.footer__contact-wrapper {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.footer__contact-copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #dec5b1;
}

@media (max-width: 1000px) {
  .banner {
    padding-bottom: 100px;
  }
}
@media (max-width: 630px) {
  .banner {
    padding-bottom: 60px;
  }
}

@media (max-width: 900px) {
  .nav {
    padding-right: 30px;
  }
}
@media (max-width: 900px) {
  .nav__wrapper {
    display: none;
  }
}
@media (max-width: 900px) {
  .nav__burger {
    display: flex;
    visibility: visible;
    opacity: 1;
  }
}

@media (max-width: 1221px) {
  .content {
    -moz-column-gap: 74px;
         column-gap: 74px;
  }
}
@media (max-width: 1221px) {
  .content {
    -moz-column-gap: 22px;
         column-gap: 22px;
  }
}
@media (max-width: 928px) {
  .content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 19px;
         column-gap: 19px;
  }
}
@media (max-width: 650px) {
  .content__play {
    position: relative;
    display: flex;
    left: 0;
    margin-left: unset;
    bottom: unset;
  }
}
@media (max-width: 360px) {
  .content__play-wrapper {
    width: 60px;
    height: 60px;
  }
}
@media (max-width: 360px) {
  .content__play-circle {
    width: 55px;
    height: 55px;
  }
}
@media (max-width: 650px) {
  .content__play-text {
    line-height: 1;
    font-size: 14px;
    max-width: 195px;
  }
}
@media (max-width: 1151px) {
  .content__img {
    max-width: 300px;
  }
}
@media (max-width: 650px) {
  .content__img {
    margin-bottom: 5px;
  }
}
@media (max-width: 362px) {
  .content__img {
    max-width: 236px;
  }
}
@media (max-width: 570px) {
  .content__img--wrapper {
    margin-left: 30px;
  }
}
@media (max-width: 900px) {
  .content__info {
    padding-top: 30px;
  }
}
@media (max-width: 928px) {
  .content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .content__title {
    max-width: 426px;
    font-size: 50px;
  }
}
@media (max-width: 600px) {
  .content__title {
    max-width: 300px;
    font-size: 38px;
  }
}
@media (max-width: 600px) {
  .content__text {
    font-weight: 400;
    font-size: 14px;
    max-width: 296px;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .content__button {
    max-width: 289px;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 928px) {
  .header {
    margin-bottom: 0;
  }
}
@media (max-width: 900px) {
  .header {
    padding: 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
@media (max-width: 900px) {
  .header__logo {
    padding-left: 30px;
    z-index: 1004;
  }
}
@media (max-width: 866px) {
  .header__logo {
    padding-left: 30px;
  }
}
@media (max-width: 1120px) {
  .header__logo-img {
    max-width: 220px;
  }
}
@media (max-width: 1050px) {
  .header__logo-img {
    max-width: 200px;
  }
}
@media (max-width: 900px) {
  .header__logo-img {
    max-width: 140px;
  }
}

@media (max-width: 1288px) {
  .learning__container {
    justify-content: center;
  }
}
@media (max-width: 1153px) {
  .learning__container {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
  }
}
@media (max-width: 1153px) {
  .learning__container {
    padding-bottom: 50px;
  }
}
@media (max-width: 1288px) {
  .learning__block {
    padding-right: 130px;
  }
}
@media (max-width: 1153px) {
  .learning__block {
    padding: 410px 274px 25px 30px;
  }
}
@media (max-width: 900px) {
  .learning__block {
    position: relative;
    max-width: 488px;
    width: 100%;
  }
}
@media (max-width: 670px) {
  .learning__block {
    max-width: 400px;
  }
}
@media (max-width: 440px) {
  .learning__block {
    padding: 314px 140px 25px 30px;
    max-width: 280px;
  }
}
@media (max-width: 440px) {
  .learning__block-text {
    line-height: 1.2;
    font-size: 14px;
  }
}
@media (max-width: 900px) {
  .learning__block-wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 488px;
  }
}
@media (max-width: 440px) {
  .learning__block-wrapper {
    padding: 10px 4px;
  }
}
@media (max-width: 1153px) {
  .learning__academy-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }
}
@media (max-width: 710px) {
  .learning__academy-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
@media (max-width: 1153px) {
  .learning__academy-paragraph {
    font-size: 14px;
    text-align: center;
    max-width: 509px;
  }
}
@media (max-width: 550px) {
  .learning__academy-paragraph {
    text-align: center;
    max-width: 309px;
  }
}
@media (max-width: 1153px) {
  .learning__academy-title {
    text-align: center;
    font-size: 60px;
    line-height: 0.4;
    width: 297px;
  }
}
@media (max-width: 1153px) {
  .learning__academy-text {
    margin-bottom: 0px;
    text-align: center;
  }
}
@media (max-width: 710px) {
  .learning__academy-wrapper {
    padding-left: 71.5px;
    max-width: 400px;
  }
}
@media (max-width: 490px) {
  .learning__academy-wrapper {
    padding: 10px 10px 10px 26px;
    max-width: 300px;
  }
}

@media (max-width: 600px) {
  .menu__wrapper {
    padding: 0;
  }
}

@media (max-width: 590px) {
  .programm__wrapper {
    gap: 8px;
    flex-wrap: wrap;
  }
}
@media (max-width: 590px) {
  .programm__item {
    width: 110px;
  }
}
@media (max-width: 590px) {
  .programm__link {
    font-size: 14px;
    padding: 8px;
  }
}
@media (max-width: 1140px) {
  .programm__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    margin-bottom: 34px;
  }
}
@media (max-width: 800px) {
  .programm__info {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .programm__title {
    text-align: center;
  }
}
@media (max-width: 700px) {
  .programm__title {
    font-size: 50px;
  }
}
@media (max-width: 1140px) {
  .programm__text {
    padding-left: 14px;
    max-width: 382px;
  }
}
@media (max-width: 800px) {
  .programm__text {
    max-width: 360px;
    text-align: center;
    padding-left: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: 300;
  }
}

@media (max-width: 900px) {
  .accordeon {
    gap: 15px;
  }
}
@media (max-width: 700px) {
  .accordeon__content {
    gap: 20px;
  }
}
@media (max-width: 580px) {
  .accordeon__content {
    flex-direction: column;
  }
}
@media (max-width: 580px) {
  .accordeon__content-title {
    margin-bottom: 10px;
  }
}
@media (max-width: 580px) {
  .accordeon__content-text {
    font-size: 14px;
  }
}
@media (max-width: 580px) {
  .accordeon__content-tasks {
    font-size: 14px;
    max-width: 300px;
  }
}
@media (max-width: 580px) {
  .accordeon__content-list {
    gap: 12px;
  }
}
@media (max-width: 550px) {
  .accordeon__wrapper {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
@media (max-width: 900px) {
  .accordeon__button {
    padding: 17px 30px;
    margin-bottom: 7px;
  }
}
@media (max-width: 670px) {
  .accordeon__button {
    padding: 12px 15px;
  }
}
@media (max-width: 900px) {
  .accordeon__button-title {
    font-size: 32px;
  }
}
@media (max-width: 755px) {
  .accordeon__button-title {
    font-size: 28px;
  }
}
@media (max-width: 755px) {
  .accordeon__button-title {
    max-width: 360px;
  }
}
@media (max-width: 455px) {
  .accordeon__button-title {
    max-width: 273px;
  }
}
@media (max-width: 365px) {
  .accordeon__button-title {
    max-width: 221px;
  }
}
@media (max-width: 660px) {
  .accordeon__button-img {
    width: 25px;
    height: 25px;
    padding: 0;
  }
}

@media (max-width: 1200px) {
  .promo-block {
    margin-bottom: 70px;
  }
}
@media (max-width: 910px) {
  .promo-block {
    justify-content: center;
    margin-bottom: 50px;
  }
}
@media (max-width: 580px) {
  .promo-block__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
}
@media (max-width: 566px) {
  .promo-block__wrapper {
    margin: 0;
  }
}
@media (max-width: 510px) {
  .promo-block__wrapper {
    gap: 16px;
    margin-bottom: 17px;
  }
}
@media (max-width: 590px) {
  .promo-block__price {
    display: flex;
    justify-content: space-between;
    max-width: none;
    text-align: center;
  }
}
@media (max-width: 510px) {
  .promo-block__price {
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
}
@media (max-width: 510px) {
  .promo-block__price-one {
    margin-bottom: 0;
  }
}
@media (max-width: 590px) {
  .promo-block__button {
    margin: 0 auto;
  }
}
@media (max-width: 540px) {
  .promo-block__button {
    max-width: 300px;
  }
}
@media (max-width: 1200px) {
  .promo-block__sale {
    min-width: 500px;
  }
}
@media (max-width: 700px) {
  .promo-block__sale {
    min-width: 0;
  }
}
@media (max-width: 1120px) {
  .promo-block__cake {
    padding-top: 20px;
  }
}
@media (max-width: 910px) {
  .promo-block__cake {
    display: none;
  }
}

@media (max-width: 1140px) {
  .footer__info {
    display: grid;
    grid-template-columns: 1fr 1fr 0.7fr;
    justify-content: space-between;
    gap: 30px;
  }
  .footer__info > .footer__section:first-child {
    grid-column: 1/-1;
  }
  .footer__section--socials, .footer__section--nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1140px) {
  .footer {
    padding: 10px 0 20px;
  }
  .footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
  }
  .footer__location {
    padding-top: 0px;
  }
  .footer__location-time {
    margin-bottom: 1px;
    justify-content: center;
  }
  .footer__nav {
    padding-top: 0px;
  }
  .footer__nav-item {
    margin-bottom: 2px;
  }
  .footer__contact {
    padding-top: 0px;
  }
  .footer__contact-text {
    margin-bottom: 1px;
  }
  .footer__contact-phone {
    margin-bottom: 14px;
  }
  .footer__logo-text {
    margin-bottom: 3px;
  }
}
@media (max-width: 700px) {
  .recipe__block {
    max-width: 300px;
    padding: 20px 20px 24px 20px;
  }
}
@media (max-width: 700px) {
  .recipe__wrapper {
    margin-bottom: 51px;
  }
}
@media (max-width: 700px) {
  .recipe__cupcakes {
    width: 182px;
    height: 147px;
  }
}
@media (max-width: 700px) {
  .recipe__cupcakes-img {
    width: 182px;
  }
}
@media (max-width: 700px) {
  .recipe__title {
    font-size: 30px;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .recipe__text {
    font-size: 14px;
    max-width: 250px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .recipe__form-field {
    height: 52px;
    width: 250px;
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  .recipe__button {
    width: 250px;
  }
}/*# sourceMappingURL=styles.css.map */