.video-overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(156, 156, 156, 0.73);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-overlay.is-hidden {
  display: none;
}

.video-container {
  position: relative;
  max-width: 60vw;
  max-height: 60vh;
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 20px;
}

.video-close {
  position: absolute;
  top: -3px;
  right: 10px;
  font-size: 56px;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
}
