@media (max-width: 1140px) {
  .footer {
    &__info {
      display: grid;
      grid-template-columns: 1fr 1fr 0.7fr;
      justify-content: space-between;
      gap: 30px;

      & > .footer__section:first-child {
        grid-column: 1 / -1;
      }
    }

    &__section {
      &--socials,
      &--nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 1140px) {
  .footer {
    padding: 10px 0 20px;
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
    }
    &__location{
        padding-top: 5px;
        &-time{
            justify-content: center;
        }
    }
    &__nav{
        padding-top: 5px;
        &-item{
            margin-bottom:5px;
        }
    }
    &__contact{
        padding-top:5px;
        &-phone{
            margin-bottom: 12wpx;
        }
    }
  }
}
